@charset "utf-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
* {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular', sans-serif;}

/* colors */
$bg-color: #B99470;
$font-color: #5F6F52;
$main-color: #FEFAE0;
$sub-color: #A9B388;

@media (max-width: 599px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 16px;
  }
}



body {
  color: $font-color;
  background-color: $bg-color;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-btn {
  @include flexCenter();
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: $sub-color;
  border: 1px solid $sub-color;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
  span {
    @include flexCenter();
    width: 14px;
    height: 14px;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 14px;
      transition: .3s;
    }
  }
  &:hover {
    border: 1px solid $font-color;
    background-color: $sub-color;
    span {
      .icon {
        transform: rotate(180deg);
        color: $font-color;
      }
    }
  }
}

.input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid $sub-color;
  outline: none;
  box-sizing: border-box;
  &:focus ~ label {
    color: $font-color;
  }
  &:focus ~ .underline {
    transform: scaleX(1);
  }
}

.underline {
  height: 2px;
  background-color: $font-color;
  transform: scaleX(0);
  transition: .3s ease;
}

.allday {
  display: none;
  &:checked + .checkmark {
    background-color: $font-color;
    border-color: $font-color;
    transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
    transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
    &::before {
      color: #fff;
    }
  }
  &:focus + .checkmark {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    outline: none;
  }
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid $sub-color;
  border-radius: 4px;
  transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
  &::before {
    content: '\2713';
    font-size: 16px;
    color: transparent;
    transition: .3s;
  }
}

.allday-label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: $font-color;
}


/* tablet */
@media (min-width: 600px) and (max-width: 999px) {

}

/* mobile */
@media (max-width: 599px) {
  .inner {
    padding-bottom: 250px;
  }
}