@charset "utf-8";

/* colors */
$bg-color: #B99470;
$font-color: #5F6F52;
$main-color: #FEFAE0;
$sub-color: #A9B388;


.list-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: $main-color;
  .list-items {
    &::-webkit-scrollbar {
      width: .5rem;
    }
    &::-webkit-scrollbar-thumb {
      background: #fff;
      background: rgba($color: $font-color, $alpha: 0.3);
    }
    &::-webkit-scrollbar-track {
      background: rgba($color: $sub-color, $alpha: 0.5);
    }
  }
  .list-option {

    .search-bar {
      width: 100%;
      padding: .625rem;
      border: none;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
  }
}

.add-new {
  

}